%div#overlay
  %video{'preload' => 'auto', 'autoplay' => '', 'loop' => ''}
    %source{'type' => 'video/mp4', 'src' => '/out.mp4'}
  %div.info-block
.app-header
  %h2= t('dashboard.title')
  .travel-icons
    = image_tag 'car.png'
    = image_tag 'bike.png'
    = image_tag 'walk.png'
- if user_signed_in?
  = link_to t('add_track'), new_track_path, :class => 'btn btn-lg btn-success'
- else
  = render partial: 'users/sessions/new'
.footer
  = Rails.application.config.ver