= render :partial => 'refs/item_form_fields', |
  :locals => {:form => form, :permit_modify => permit_modify, :columns => @item.class.form_columns.except(:public, :descr)}
.form-group
  = form.label :descr, :class => 'control-label col-md-2'
  .col-md-10
    = form.text_area :descr, :class => 'form-control', :rows => 10, :disabled => !permit_modify, :style => 'resize: vertical'
.form-group
  .col-md-offset-2.col-xs-10
    .checkbox
      %label
        = form.check_box :public, :disabled => !permit_modify
        = Track.human_attribute_name(:public)
.form-group
  = form.label :items, :class => 'control-label col-md-2'
  .col-md-10.track-items
    .track-items-drop-here{:'data-code' => @item.code}
    - @item.track_items.each_with_index do |item, index|
      = render partial: 'track_item', :locals => {:item => item, :ord => index}
    = file_field_tag :track_items_files, :multiple => true, :class => 'hidden'
    = link_to '#', :class => 'gpx-file-select' do
      %i.fa.fa-paperclip
        %span= t('select_files')