= link_to user_tracks_path(item), :class => 'btn btn-xs btn-default btn-icon' do
  %i.fa.fa-map-marker{'title' => Track.model_name.human(:count => 2)}
  %span= "#{Track.model_name.human(:count => 2)} (#{item.cc})"
- if item.permit?(controller.permission_params)
  = link_to item, :class => 'btn btn-xs btn-default btn-icon' do
    %i.fa.fa-pencil-square-o{'title' => t('profile')}
    %span= t('profile')
- if item.permit_modify?(controller.permission_params) && item.id != current_user.id
  = link_to '#', :class => 'btn btn-xs btn-danger btn-icon',  |
                 :'data-type' => controller.resource.sm_name, |
                 :'data-action' => 'remove_single',           |
                 :'data-id' => item.get_id do
    %i.fa.fa-trash-o{'title' => t('lib_support.refs.remove')}
    %span= t('lib_support.refs.remove')