- content_for :title, @item.name || controller.resource.model_name.human if @item.respond_to?(:name)
- if @item.errors.any?
  .alert.alert-danger
    %button.close{'aria-hidden' => true, 'data-dismiss' => 'alert', :type => 'button'} ×
    %strong= "#{t('lib_support.refs.errors')}: #{@item.errors.count}"
    %ul
      - @item.errors.full_messages.each do |x|
        %li= x
.row
  = form_for @item, :html => { :class => 'form-horizontal col-md-12' } do |f|
    = render partial: 'item_form_fields', :locals => { :form => f }
    .form-group
      .col-md-offset-2.col-xs-10.col-md-8
        = f.submit t('lib_support.refs.apply'), :class => 'btn btn-success'
      .col-xs-2
        = link_to t('lib_support.refs.cancel'), { :controller => @item.class.to_s.tableize, :action => 'index' }, :class => 'btn btn-default mx-btn-right'
