.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "#{model}RemoveModalLabel", "data-action" => "remove-dialog", "data-type" => model, :id => "#{model}RemoveModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      = form_tag url, method: :delete, remote: true, id: "remove_#{model}" do
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title{:id => "#{model}RemoveModalLabel"}= name
        .modal-body
          .form-group
            = label_tag "#{model}_remove_list", 'remove_confirm', :class => 'control-label'
            = text_area_tag "#{model}[remove_list]", '', :'data-type' => model, :'data-member' => 'name_list', :class => 'form-control', :rows => 5, :style => 'resize: none;', :disabled => true
            %span.help-block
          = hidden_field_tag "#{model}_remove_ids", '', :'data-type' => model, :'data-member' => 'ids_list'
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}= 'cancel'
          = submit_tag 'apply', :class => 'btn btn-danger'
