#sidedrawer-brand.mui--appbar-line-height
  = link_to root_path, :class => 'favicon' do
    = image_tag '/favicon.ico'
    = t('title')
.mui-divider
- if user_signed_in?
  %ul
    %li
      %strong= I18n.t('profile')
      %ul
        %li= link_to t('profile'), user_path(current_user)
        %li= link_to t('add_track'), new_track_path
        %li= link_to t('my_tracks'), user_tracks_path(current_user)
        %li= link_to t('sign_out'), destroy_user_session_path, :method => :delete