- map_view = content_for?(:map_view)
- page_title = content_for(:page_title)

!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= page_title ? "#{page_title} - #{t('title')}" : t('title')
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', :'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', :'data-turbolinks-track' => 'reload'
  = content_tag :body, :class => current_page?(root_path) ? 'hide-sidedrawer' : 'no-overlay' do
    #sidedrawer.mui--no-user-select
      = render partial: 'layouts/nav'
    %header#header
      .mui-appbar.mui--appbar-line-height
        .mui-container-fluid
          .sidedrawer-toggle.mui--visible-xs-inline-block.js-show-sidedrawer
            %i.fa.fa-bars
          .sidedrawer-toggle.mui--hidden-xs.js-hide-sidedrawer
            %i.fa.fa-bars
          .breadcrumbs
            - breadcrumbs.tap do |links|
              - if links.any?
                - links.each do |link|
                  - if link.current?
                    %span= link.text
                  -else
                    = link_to link.text, link.url
                    %i.fa.fa-angle-right
    #content-wrapper
      .mui--appbar-height
      .mui-container-fluid
        .mui-row
          .mui-col-sm-10.mui-col-sm-offset-1
            = yield